ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    margin: 0;
    padding-left: 0;

    a {
        height: 30px;
        width: 20%;
        max-width: 50%;
        border: 1px solid black;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        flex-grow: 1;
        gap: 12px;
    }

    span {
        display: block;
    }

    li {
        display: inline-block;
        list-style: none;
    }

}